<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="processing.android.test.gesture_wave_generator_android" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="8"/>
  <application android:label="gesture_wave_generator_android" android:icon="@drawable/icon" android:debuggable="true">
    <activity android:name=".gesture_wave_generator_android">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
